{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Name: {{ custom_user.first_name }} {{ custom_user.last_name }}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Custom User</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_custom_user_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label> Approve the Student</label><br />
                           <label>Status </label><br />
                          {% if custom_user.status == True %} 
                           <input type="radio" id="approve" name="status" value=True checked>
                           <label for="age1">Approve</label><br>
                           <input type="radio" id="reject" name="status" value=False>
                           <label for="age1">Reject</label><br>
                           {% else %}
                           <input type="radio" id="approve" name="status" value=True>
                           <label for="age1">Approve</label><br>
                           <input type="radio" id="reject" name="status" value=False checked>
                           <label for="age1">Reject</label><br>
                           {% endif %}
                           <label for="comment">Comments:</label>
                           <input type="text" name="comment" id="comment">
                           <input type="hidden"  name="custom_user_id" value="{{ custom_user.id }}">

                        <button type="submit"  id="customUser" class="btn btn-outline-primary"> Submit</button>
                    </button>
                  </div>
                   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
